.card {
  background-color: orange;
}

/* * {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */
h1 {
  background-color: orange;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

/* div#contenedor-imagen-pokemon {
  background-image: linear-gradient(0deg, #ffffff 11.54%, #f5f5f5 11.54%, #f5f5f5 50%, #ffffff 50%, #ffffff 61.54%, #f5f5f5 61.54%, #f5f5f5 100%);
  background-size: 26.00px 26.00px;
} */

/* aside {
  background-image: linear-gradient(0deg, #c4ebbc 15%, #7cb073 15%, #7cb073 50%, #c4ebbc 50%, #c4ebbc 65%, #7cb073 65%, #7cb073 100%);
  background-size: 20.00px 20.00px;
}
 */
